<!-- src/templates/aybuben.html -->
{% extends "base.html" %}
{% from "macros.html" import helper_innerHTML_functions with context %}
{% block head_scripts %}
    {{ helper_innerHTML_functions() }}
    <script>
        async function fetchAlphabet() {
            if (localStorage.alphabet)
                return JSON.parse(localStorage.alphabet);
            const response = await fetch("/get_alphabet", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                }
            });
            const data = await response.json();
            localStorage.alphabet = JSON.stringify(data["alphabet"]);
            return data["alphabet"];
        }

        async function displayAlphabet() {
            const alphabet = await fetchAlphabet();
            let selectedCategory = "lowercase"
            alphabet[selectedCategory].forEach(function (letter, i) {
                const button = document.getElementById(`letter${i}`);
                // button.setAttribute("data-bs-title", letter);
                addToElement(button, letter);
                for (let category in alphabet) {
                    const popoverCard = document.getElementById(`${category}${i}`);
                    addToElement(popoverCard, alphabet[category][i]);
                }
            });
        }
    </script>
{% endblock %}
{% block body_attributes %}onload="displayAlphabet()"{% endblock %}
{% block body_content %}
    <div class="container">
        <h1 class="text-center m-2">Armenian Alphabet</h1>
        <div class="mt-3" id="alphabet">
            {% for i in range(39) %}
                <div hidden>
                    <div class="aybuben d-flex flex-column text-center"
                         data-name="popover-content{{ i }}">
                        <span id="uppercase{{ i }}"></span>
                        <span id="lowercase{{ i }}"></span>
                        <span id="handwritten{{ i }}"></span>
                        <span id="transcription{{ i }}"></span>
                        <span id="pronunciation{{ i }}"></span>
                    </div>
                </div>
                <a tabindex="0" id="letter{{ i }}" role="button"
                   class="btn btn-lg btn-primary aybuben"
                   data-bs-toggle="popover" data-bs-container="body">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block end_scripts_after %}
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(function (popoverTriggerEl, index) {
                let options = {
                    html: true,
                    //html element
                    //content: $("#popover-content")
                    content: $('[data-name="popover-content' + index + '"]')
                }
                return new bootstrap.Popover(popoverTriggerEl, options)
            })
        })
    </script>
{% endblock %}
