<!-- src/templates/aybuben.html -->
{% extends "base.html" %}
{% from "macros.html" import helper_innerHTML_functions, letterCard %}
{% block head_scripts %}
    {{ helper_innerHTML_functions() }}
    <script>
        async function fetchAlphabet() {
            if (localStorage.alphabet)
                return JSON.parse(localStorage.alphabet);
            const response = await fetch("/get_alphabet", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                }
            });
            const data = await response.json();
            localStorage.alphabet = JSON.stringify(data["alphabet"]);
            return data["alphabet"];
        }

        async function displayAlphabet() {
            const alphabet = await fetchAlphabet();
            let selectedCategory = "lowercase"
            alphabet[selectedCategory].forEach(function (letter, i) {
                const button = document.getElementById(`letter${i}`);
                // button.setAttribute("data-bs-title", letter);
                addToElement(letter, button);
            });
        }

        function showDetailsCard(i) {
            const alphabet = JSON.parse(localStorage.alphabet);
            for (let category in alphabet) {
                const detailsCard = document.getElementById(category);
                addToElement(alphabet[category][i], detailsCard);
            }
            document.getElementById('details-card').style.display = 'block';
        }

        function closeDetailsCard() {
            document.getElementById('details-card').style.display = 'none';
        }

    </script>
{% endblock %}
{% block body_attributes %}onload="displayAlphabet()"{% endblock %}
{% block body_content %}
    <div class="container">
        <h1 class="text-center m-2">Armenian Alphabet</h1>
        <div class="m-3 alphabet">
            {% for i in range(39) %}
                <a tabindex="0" id="letter{{ i }}" role="button"
                   class="btn btn-lg btn-primary aybuben"
                   data-bs-toggle="popover" data-bs-container="body" onclick="showDetailsCard({{ i }})">
                </a>
            {% endfor %}
        </div>
    </div>
    <div id="details-card" class="card position-fixed top-50 start-50 translate-middle" style="display: none">
        <div class="aybuben-card d-flex flex-column card-body text-center">
            {{ letterCard() }}
            <button class="btn btn-secondary btn-lg" onclick="closeDetailsCard()">Close</button>
        </div>
    </div>
{% endblock %}
{% block end_scripts_after %}
{% endblock %}
