<!-- src/templates/quiz.html -->
{% extends "base.html" %}
{% from "macros.html" import helper_innerHTML_functions, letterCard, fetchAlphabet %}
{% block meta_desciption_additional %}Test your knowledge of the Armenian alphabet with this quiz.{% endblock %}
{% block head_scripts %}
    {{ helper_innerHTML_functions() }}
    {{ fetchAlphabet() }}
    <script>
        async function fetchQuestion() {
            const alphabet = fetchAlphabet();

            let {questionCategory, answerCategory} = getSelectedCategories(alphabet.keys());
            let data = {}
            displayQuestion(data);
        }

        function getSelectedCategories(categories) {
            // TODO: make this work
            let questionSelectedCategory = document.querySelector(`input[name="questionCategory"]:checked`).value;
            let answerSelectedCategory = document.querySelector(`input[name="answerCategory"]:checked`).value;
            let armenianCategories = ["uppercase", "lowercase", "handwritten"];
            let englishCategories = ["transcription", "pronunciation"];

            if (questionSelectedCategory === "random") {
                questionSelectedCategory = categories[Math.floor(Math.random() * categories.length)];
            }
            if (answerSelectedCategory === "random") {
                const filteredCategories = categories.filter(category => category !== questionSelectedCategory);
                answerSelectedCategory = filteredCategories[Math.floor(Math.random() * filteredCategories.length)];
            }
            return {questionSelectedCategory, answerSelectedCategory};
        }

        function displayQuestion(question, choices, correct, categories) {
            const questionElement = document.getElementById("question");
            const choicesElement = document.getElementById("choices");
            const feedbackElement = document.getElementById("feedback");
            choicesElement.innerHTML = "";
            feedbackElement.textContent = ""; // Clear feedback
            addToElement(data.question, questionElement);

            data.choices.forEach((choice) => {
                let element;
                element = document.createElement("button");
                addToElement(choice, element);
                element.className = "btn btn-primary btn-block mb-2";
                element.onclick = () =>
                    checkAnswer(choice, data.correct, data.all_categories);
                choicesElement.appendChild(element);
            });
        }

        function checkAnswer(choice, correct, allCategories) {
            const feedbackElement = document.getElementById("feedback");
            const choicesElement = document.getElementById("choices");
            if (choice === correct) {
                feedbackElement.textContent = "Correct!";
                feedbackElement.className = "text-success";
                setTimeout(fetchQuestion, 600); // Fetch new question after 1.5 seconds
            } else {
                feedbackElement.textContent = "Incorrect!";
                feedbackElement.className = "text-danger";
                choicesElement.innerHTML = ""; // Remove answer buttons
                displayCard(allCategories);
            }
        }

        function displayCard(allCategories) {
            $('#infoCard').show();
            for (let category in allCategories) {
                const detailsCard = document.getElementById(category);
                addToElement(allCategories[category], detailsCard);
            }
        }

        function closeCard() {
            $('#infoCard').hide();
            fetchQuestion();
        }
    </script>
{% endblock %}
{% block body_attributes %}onload="fetchQuestion()"{% endblock %}
{% block body_content %}
    <div class="container-sm card mt-1 text-center">
        <div class="card-body">
            <div class="d-grid grid title-option">
                <h1 class="card-title">Quiz</h1>
                <!-- Dropdown for Question and Answer Category -->
                <div class="d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Options
                    </button>
                    <div class="dropdown-menu">
                        <form class="dropdown-item-text">
                            <h5>Question Category:</h5>
                            {% for category in ["uppercase", "lowercase", "transcription", "pronunciation", "handwritten", "random"] %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="questionCategory"
                                           id="question{{ category }}"
                                           value="{{ category }}" {% if category == "random" %}checked{% endif %}/>
                                    <label class="form-check-label"
                                           for="question{{ category }}">{{ category|capitalize }}</label>
                                </div>
                            {% endfor %}
                        </form>
                        <hr class="dropdown-divider">
                        <form class="dropdown-item-text">
                            <h5>Answer Category:</h5>
                            {% for category in ["uppercase", "lowercase", "transcription", "pronunciation", "handwritten", "random"] %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answerCategory"
                                           id="answer{{ category }}"
                                           value="{{ category }}" {% if category == "random" %}checked{% endif %}/>
                                    <label class="form-check-label"
                                           for="answer{{ category }}">{{ category|capitalize }}</label>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
            <hr/>
            <!-- Display Question and Choices -->
            <div id="question"></div>
            <div id="feedback"></div>
            <div id="choices" class="d-grid"></div>
            <!-- Info Card for Incorrect Answer -->
            <div id="infoCard" class="card mt-1" style="display: none">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title answer-card-title">Correct Answer Details</h5>
                    {{ letterCard() }}
                    <button class="btn btn-primary btn-lg" onclick="closeCard()">Next</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block end_scripts %}
{% endblock %}
