<!-- src/templates/quiz.html -->
{% extends "base.html" %}
{% from "macros.html" import helper_innerHTML_functions with context %}
{% block head_scripts %}
    {{ helper_innerHTML_functions() }}
    <script>
        async function fetchQuestion() {
            const questionCategory = getSelectedCategory("questionCategory", []);
            const answerCategory = getSelectedCategory("answerCategory", [
                questionCategory,
                "pronunciation",
            ]);
            const response = await fetch("/get_question", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: `category=${questionCategory}&answer_category=${answerCategory}`,
            });
            const data = await response.json();
            displayQuestion(data);
        }

        function getSelectedCategory(categoryName, excluded = []) {
            const selectedValue = document.querySelector(
                `input[name="${categoryName}"]:checked`
            ).value;
            if (selectedValue === "random") {
                const categories = [
                    "uppercase",
                    "lowercase",
                    "transcription",
                    "pronunciation",
                    "handwritten",
                ].filter((category) => !excluded.includes(category));
                return categories[Math.floor(Math.random() * categories.length)];
            }
            return selectedValue;
        }

        function displayQuestion(data) {
            const questionElement = document.getElementById("question");
            const choicesElement = document.getElementById("choices");
            const feedbackElement = document.getElementById("feedback");
            choicesElement.innerHTML = "";
            feedbackElement.textContent = ""; // Clear feedback

            if (data.question.endsWith(".mp3")) {
                questionElement.innerHTML = innerHTML_for_audio(data.question);
            } else if (data.question.endsWith(".svg")) {
                questionElement.innerHTML = innerHTML_for_SVG(data.question);
            } else {
                questionElement.textContent = data.question;
            }

            data.choices.forEach((choice) => {
                let element;
                element = document.createElement("button");
                if (choice.endsWith(".mp3")) {
                    element.innerHTML = innerHTML_for_audio(choice);
                } else if (choice.endsWith(".svg")) {
                    element.innerHTML = innerHTML_for_SVG(choice);
                } else {
                    element.textContent = choice;
                }
                element.className = "btn btn-primary btn-block mb-2";
                element.onclick = () =>
                    checkAnswer(choice, data.correct, data.all_categories);
                choicesElement.appendChild(element);
            });
        }

        function checkAnswer(choice, correct, allCategories) {
            const feedbackElement = document.getElementById("feedback");
            const choicesElement = document.getElementById("choices");
            if (choice === correct) {
                feedbackElement.textContent = "Correct!";
                feedbackElement.className = "text-success";
                setTimeout(fetchQuestion, 600); // Fetch new question after 1.5 seconds
            } else {
                feedbackElement.textContent = "Incorrect!";
                feedbackElement.className = "text-danger";
                choicesElement.innerHTML = ""; // Remove answer buttons
                displayCard(allCategories);
            }
        }

        function displayCard(allCategories) {
            const card = document.getElementById("infoCard");
            card.style.display = "block";

            document.getElementById("cardUppercase").textContent =
                allCategories.uppercase;
            document.getElementById("cardLowercase").textContent =
                allCategories.lowercase;
            document.getElementById("cardTranscription").textContent =
                allCategories.transcription;
            document.getElementById(
                "cardHandwritten"
            ).innerHTML = innerHTML_for_SVG(allCategories.handwritten);
            document.getElementById(
                "cardPronunciation"
            ).innerHTML = innerHTML_for_audio(allCategories.pronunciation);
        }

        function closeCard() {
            document.getElementById("infoCard").style.display = "none";
            fetchQuestion();
        }
    </script>
{% endblock %}
{% block body_attributes %}onload="fetchQuestion()"{% endblock %}
{% block body_content %}
    <div class="container-sm card mt-1 text-center">
        <div class="card-body">
            <div class="d-grid grid title-option">
                <h1 class="card-title">Quiz</h1>
                <!-- Dropdown for Question and Answer Category -->
                <div class="d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Options
                    </button>
                    <div class="dropdown-menu">
                        <form class="dropdown-item-text">
                            <h5>Question Category:</h5>
                            {% for category in ["uppercase", "lowercase", "transcription", "pronunciation", "handwritten", "random"] %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="questionCategory"
                                           id="{{ category }}"
                                           value="{{ category }}" {% if category == "random" %}checked{% endif %}/>
                                    <label class="form-check-label"
                                           for="{{ category }}">{{ category|capitalize }}</label>
                                </div>
                            {% endfor %}
                        </form>
                        <hr class="dropdown-divider">
                        <form class="dropdown-item-text">
                            <h5>Answer Category:</h5>
                            {% for category in ["uppercase", "lowercase", "transcription", "pronunciation", "handwritten", "random"] %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answerCategory"
                                           id="{{ category }}"
                                           value="{{ category }}" {% if category == "random" %}checked{% endif %}/>
                                    <label class="form-check-label"
                                           for="{{ category }}">{{ category|capitalize }}</label>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
            <hr/>
            <!-- Display Question and Choices -->
            <div id="question"></div>
            <div id="feedback"></div>
            <div id="choices" class="d-grid"></div>
            <!-- Info Card for Incorrect Answer -->
            <div id="infoCard" class="card mt-1" style="display: none">
                <div class="card-body">
                    <h5 class="card-title answer-card-title">Correct Answer Details</h5>
                    <p><span id="cardUppercase"></span> <span id="cardLowercase"></span></p>
                    <p><span id="cardHandwritten"></span></p>
                    <p><span id="cardTranscription"></span></p>
                    <p><span id="cardPronunciation"></span></p>
                    <button class="btn btn-primary btn-lg" onclick="closeCard()">Next</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block end_scripts %}
{% endblock %}
