.title-option {
    grid-template-columns: 4fr 1fr;
    grid-auto-flow: column;
}

#question {
    font-size: 5rem;
}

#choices > button {
    font-size: 3rem;
}

.handwritten-img {
    max-height: 6rem;
    pointer-events: none;
}

.dark {
    filter: invert(1);
}

#infoCard {
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#infoCard p {
    font-size: 3rem;
}

hr {
    margin-top: 0.8rem;
    margin-bottom: -1rem;
}

#feedback {
    font-size: 1.5rem;
}

.answer-card-title {
    margin-top: -2rem;
}

html {
    font-size: calc((1vw + 1vh + 1vmin) * 0.5);
}

.aybuben {
    font-size: 2.8rem;
}

#alphabet {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns */
    gap: 10px; /* Adjust gap between items as needed */
}

@media (max-width: 700px) {
    html {
        font-size: calc((1vw + 1vh + 1vmin));
    }

    #alphabet {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}
